@import "main_content.sass"
$custom-grey-footer: #475467

.footer
  background: $custom-grey-background
  padding: 72px 52px
  &_information-section
    display: flex
    justify-content: space-between
    align-items: top
    padding-bottom: 52px
    &__about-clonify
    &__logo
      margin-bottom: 16px
      min-width: 8vw

    &__subtitle
      font-size: 16px
      color: $custom-grey-footer
      margin-bottom: 30px
    
    &__icon
      min-width: 18%
      background: white
      padding: 10px
      border-radius: 37px
      margin-right: 16px

    &__navigation
        width: 50%

    &__table
      width: 100%

      td, th
        text-align: left
        padding: 15px
      th
        padding: 0 15px 15px 15px 
    &__link
      text-decoration: none



.footer_bottom
  display: flex
  justify-content: space-between
  border-top: 2px solid $custom-grey-border
  padding-top: 52px

  &__select-language
    display: flex

  &__flag
    margin-right: 10px
    
  &__select-language
    margin-right: 52px

  &__settings
    display: flex
