@import "fonts.sass"
@import "header.sass"
@import "main_content.sass"
@import "mixins.sass"
@import "footer.sass"


*
  box-sizing: border-box
  font-family: Inter
  color: #282828

body, p,h1,h2,h3,h4,h5,figure
  @include reset


 
.with-icon
    display: flex
    align-items: center

.dropbtn
  background: none
  color: black
  font-size: 14px
  border: none
  font-weight: 600
  


.dropdown-content
  display: none
  position: absolute
  background-color: #f1f1f1
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

.dropdown-content a 
  color: $custom-black
  padding: 12px 16px
  text-decoration: none
  display: block


.dropdown-content a:hover 
  background-color: #ddd

.dropdown:hover .dropdown-content 
  display: block


// это я тут пыталась типо отзывчивой страничку сделать, но честно не уверена что это так делается :)

@media (max-width: 1800px) 

  .header
    padding-left: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))
    padding-right: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))
    font-size: calc(10px + (14 - 10)*((110vw - 320px)/(1835 - 320)))
    
    .margin-right40
      margin-right: calc(20px + (40 - 20)*((110vw - 320px)/(1835 - 320)))
    
    .margin-right20
      margin-right: calc(10px + (20 - 10)*((110vw - 320px)/(1835 - 320)))

      

    
  .banner-section

    &__text    
      margin-right: calc(20px + (210 - 20)*((110vw - 320px)/(1835 - 320)))
      margin-left: calc(20px + (100 - 20)*((110vw - 320px)/(1835 - 320)))
    &__title
      font-size: calc(20px + (68 - 20)*((110vw - 320px)/(1835 - 320)))
    &__pre-title
      font-size: calc(10px + (20 - 10)*((110vw - 320px)/(1835 - 320)))
    &__subtitle
      font-size: calc(10px + (23 - 10)*((110vw - 320px)/(1835 - 320)))
      margin-bottom: calc(10px + (32 - 10)*((110vw - 320px)/(1835 - 320)))

    &__link
      font-size: calc(10px + (23 - 10)*((110vw - 320px)/(1835 - 320)))

    &__btn
      font-size: calc(10px + (18 - 10)*((110vw - 320px)/(1835 - 320)))
      padding: calc(2px + (5 - 2)*((110vw - 320px)/(1835 - 320)))

    &__content-sliders
      padding-left: calc(5px + (30 - 5)*((110vw - 320px)/(1835 - 320)))
      padding-right: calc(5px + (30 - 5)*((110vw - 320px)/(1835 - 320)))


  .btn-slider
    padding: calc(5px + (20 - 5)*((110vw - 320px)/(1835 - 320)))
  
  .logos-section
      padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))
      &__container
        padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))

  .photos-section
      padding: calc(20px + (104 - 20)*((110vw - 320px)/(1835 - 320)))

      &__title
        font-size: calc(10px + (20 - 10)*((110vw - 320px)/(1835 - 320)))

      &__subtitle
        font-size: calc(8px + (16 - 8)*((110vw - 320px)/(1835 - 320)))
        
  .time_discount
    font-size: calc(10px + (34 - 10)*((110vw - 320px)/(1835 - 320)))

  .subscribe-newsletter_form
      padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))

      &__title
        font-size: calc(20px + (42 - 20)*((110vw - 320px)/(1835 - 320)))

      &__subtitle
        font-size: calc(10px + (18 - 10)*((110vw - 320px)/(1835 - 320)))

      &__label 
        padding: calc(10px + (50 - 10)*((110vw - 320px)/(1835 - 320)))
      
      form
        padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))
      
      &__email-input
        font-size: calc(10px + (16 - 10)*((110vw - 320px)/(1835 - 320)))
      
      &__signup-btn
        font-size: calc(10px + (16 - 10)*((110vw - 320px)/(1835 - 320)))

  .photo_banner-section
    padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))

    &__text
      margin-top: calc(10px + (70 - 10)*((110vw - 320px)/(1835 - 320)))

    &__title
      font-size: calc(20px + (42 - 20)*((110vw - 320px)/(1835 - 320)))

    &__subtitle
      font-size: calc(10px + (18 - 10)*((110vw - 320px)/(1835 - 320)))
      margin-bottom: calc(5px + (24 - 5)*((110vw - 320px)/(1835 - 320)))

    &__link
      font-size: calc(10px + (18 - 10)*((110vw - 320px)/(1835 - 320)))
    
    .footer
      padding: calc(10px + (52 - 10)*((110vw - 320px)/(1835 - 320)))
      

      &_information-section
        &__subtitle
          font-size: calc(10px + (16 - 10)*((110vw - 320px)/(1835 - 320)))

       
            



        

  
    








        

    




    


